<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land {{ result.name }}</title>
</head>
<body>
    <a href="/LandmarksInLands/admin/lands">Back</a>
    <form method="post" action="/LandmarksInLands/admin/land/update/{{ result.name }}">
        <label>name</label>
        <input type="text" name="new_name" value="{{ result.name }}">

        <button type="submit">save</button>
    </form>

    <a href="/LandmarksInLands/admin/one_land/delete/{{ result.id }}">Delete land</a>
</body>
</html>