<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/LandmarksInLands/admin/cities">Back</a>
    <form method="post" action="/LandmarksInLands/admin/add_city">
        <label>name</label>
        <input type="text" name="name" placeholder="name" required>

        <label>land</label>
        <select name="land_id">
            {% for land in repo %}
                <option value="{{ land.id }}">{{ land.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">create</button>
    </form>
</body>
</html>