<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all landmarks</title>
</head>
<body>
    <a href="/LandmarksInLands/admin">Back</a>
    <form method="get" action="/LandmarksInLands/admin/landmarks">
        <label>Search</label>
        <input type="search" name="search_query" placeholder="Please write name landmarks">

        <label>Id</label>
        <input type="radio" name="sort_by" value="id" checked>

        <label>Name</label>
        <input type="radio" name="sort_by" value="name">
        
        <button type="submit">Save</button>
    </form>
    <a href="/LandmarksInLands/admin/add_landmarks">add landmarks</a>
    {% if item %}
        <form method="post" action="/LandmarksInLands/admin/landmark/delete">
            <select name="action">
                <option selected>-----</option>
                <option value="delete_objects">Delete object</option>
            </select>
            <button type="submit">Go</button>
            <div class="container">
                <div>
                    <table>
                        <tr>
                            <th>action</th>
                            <th>id</th>
                            <th>name</th>
                            <th>city</th>
                        </tr>
                        {% for landmarks in item %}
                            <tr>
                                <td><input type="checkbox" name="landmark_id" value="{{ landmarks.id }}"></td>
                                <td>({{ landmarks.id }})</td>
                                <td><a href="/LandmarksInLands/admin/landmark_more/{{ landmarks.name }}">{{ landmarks.name }}</a></td>
                                <td><a href="/LandmarksInLands/admin/city_more/{{ landmarks.city.name }}">{{ landmarks.city.name }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>

        <h2>{% if page > 1 %} 
            <a href="?page={{ page - 1 }}">Pervious</a> 
            {% endif %} 
            page {{ page }} of {{ pages }} 
            {% if page < pages %}
                <a href="?page={{ page + 1 }}">Next</a>
            {% endif %} 
        </h2>
    {% endif %}
</body>
</html>