<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_users</title>
</head>
<body>
    {% if repo %}
        <div class="container">
            <div>
                <table>
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>is_admin</th>
                    </tr>
                    {% for users in repo %}
                        <tr>
                            <td>({{ users.id }})</td>
                            <td> <a href="/LandmarksInLands/admin/user/{{ users.username }}">{{ users.username }}</a></td>
                            <td>{{ users.is_admin }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <h2>don`t have users</h2>
    {% endif %}
</div>
</body>
</html>