<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <a href="/LandmarksInLands/lands">Back</a>
    <h3>Hello {{ user.username }}! this is admin panel</h3>
    <a href="/LandmarksInLands/admin/users">Users</a>
    <a href="/LandmarksInLands/admin/lands">Lands</a>
    <a href="/LandmarksInLands/admin/cities">Cities</a>
    <a href="/LandmarksInLands/admin/landmarks">Landmarks</a>
</body>
</html>