<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
</head>
<body>
    <form method="get" action="/LandmarksInLands/admin/cities">
        
        <label for="search">Search</label>
        <input type="search" name="search_query" placeholder="Please write name land">
        <label>Id</label>
        <input type="radio" name="sort_by" value="id" checked>

        <label>Name</label>
        <input type="radio" name="sort_by" value="name">

        <button type="submit">save</button>
    </form>
    {% if result %}
        <div class="container">
            <div>
                <table>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>land</th>
                    </tr>
                    {% for all in result %}
                        <tr>
                            <td>({{ all.id }})</td>
                            <td><a href="/LandmarksInLands/admin/city_more/{{ all.name }}">{{ all.name }}</a></td>
                            <td><a href="/LandmarksInLands/admin/land_more/{{ all.land.name }}">{{ all.land.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
</body>
</html>