<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <span class="navbar-brand">🌍 Cities</span>
            <a href="/LandmarksInLands/lands">Back</a>
        </div>
    </nav>

    <div class="container">
        <h2 class="mb-4">Cities in {{ alls.land }}</h2>
        <div id="city" class="row g-3"></div>
    </div>
    <form method="get" action="/LandmarksInLands/land/{{ alls.land }}">
        <label>Search</label>
        <input type="search" name="search_query">
        <button type="submit">search</button>
    </form>

    {% if alls.cities %}
        <div class="container">
            <div class="row g-3">
                {% for cities in alls.cities %}
                <div class="col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ cities.name }}</h5>
                            <a href="/LandmarksInLands/city/{{ cities.name }}" class="btn btn-outline-dark btn-sm">landmarks</a>
                            <form action="/LandmarksInLands/add-city-save" method="post">
                                <input type="hidden" name="city_id" value="{{ cities.id }}">
                                <input type="hidden" name="urls" value="{{ request.url }}">
                                <button type="submit">
                                    {% if cities.id in saved_ids %}
                                        💚saved
                                    {% else %}
                                       🤍save
                                    {% endif %} 
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>This land is don`t have cities</h3>
    {% endif %}

    <h3>{% if page > 1 %}
        <a href="?page={{ page - 1 }}">Pervious</a>
    {% endif %}

    page {{ page }} of {{ pages }}
    
    {% if page < pages %}
        <a href="?page={{ page + 1 }}">Next</a>
    {% endif %}</h3>

</body>
</html>