<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', path='static/css/login.css') }}">
</head>
<body>
    

<div class="login-container">

    <div class="navbar">
        Register
    </div>

    <form id="RegisterForm">

        <label>Username</label>
        <input type="text" id="username" required>

        <label>Email</label>
        <input type="email" id="email" required>

        <label>Password</label>
        <input type="password" id="password" required>

        <button type="submit">Create account</button>

        <div class="auth-switch">
            <a class="auth-link" href="/LandmarksInLands/login">Login</a>
            <a class="auth-link" href="/LandmarksInLands/lands" style="background-color: rgb(22, 26, 91);">Back</a>
        </div>

        <div id="error"></div>

    </form>
</div>

<script>
document.getElementById('RegisterForm').addEventListener("submit", async (e) => {
    e.preventDefault()

    const res = await fetch("/LandmarksInLands/register", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        })
    })

    if (res.ok) {
        window.location.href = "/LandmarksInLands/lands"
    } else {
        const err = await res.json()

        const box = document.getElementById("error")
        box.style.display = "block"
        box.textContent = err.detail
    }
})
</script>

</body>
</html>